.zoom {

    transition: transform .9s;
}

.zoom:hover {
    -ms-transform: scale(.9); /* IE 9 */
    -webkit-transform: scale(.9); /* Safari 3-8 */
    transform: scale(.9);
}

.cabeza {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    /*padding: 20px; !* Some padding *!*/
}

/*input::-webkit-outer-spin-button,*/
/*input::-webkit-inner-spin-button {*/
/*    -webkit-appearance: none;*/
/*    margin: 0;*/
/*}*/

/*!* Firefox *!*/
/*input[type=number] {*/
/*    -moz-appearance: textfield;*/
/*}*/


.dropdown-content {
    transition: transform .9s; display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-right: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    background-color: #ddd;

}

.dropdown:hover .dropdown-content {
    transition: transform .9s;display: block;
    align-self:auto;
    border-top-style: solid;
    border-top-color: coral;
}


.input-contain {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: #C28212;
    color: white;
    min-width: 40px;
    text-align: center;
}

.input-f {
    width: 100%;
    padding: 10px;
    outline: none;
}

/*.input-fi:focus {*/
/*    border: 1px solid #C28212;*/
/*}*/


.inter{
    width: 100%;
    padding: 2px;
    /*margin: 8px 0;*/
    /*box-sizing: border-box;*/
    border: none;
    /*border-bottom: 2px solid white;*/
    background-color: rgba(0,0,0,0);
    /*padding: 16px 32px;*/
    text-decoration: none;
    /*margin: 4px 2px;*/
    cursor: pointer;
    /*color:#fffcef;*/
}

.registrar{
    color: #C28212;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
}



a {
    text-decoration: none;
}

i {
    letter-spacing: 0;
}

/* .scroll {
	overflow: scroll !important;
} */

.item {
    width: 400px;
    height: 500px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
}

.item .img {
    width: 100%;
    height: 50%;
    background: black;
    border-radius: 10px 10px 0 0;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}

.item .img-content {
    width: 100%;
    height: 100%;
    transition: 0 !important;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/26th_Tokyo_International_Film_Festival-_Tom_Hanks_from_Captain_Phillips_%2814970103713%29.jpg/640px-26th_Tokyo_International_Film_Festival-_Tom_Hanks_from_Captain_Phillips_%2814970103713%29.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.item.showfull .text-container {
    height: 90%;
}

.item.showfull .content {
    height: 78%;
}

.item.showfull .social {
    top: 25px;
}

.item.showfull .img-content {
    transform: scale(1.04);
    filter: blur(5px);
}

.item.showfull .like {
    margin-top: 100px;
}

.item .text-container {
    width: 100%;
    height: 55%;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    box-shadow: -3px -10px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.item .content {
    height: 63%;
    margin-bottom: 10px;
    overflow: hidden;
}

.item .social {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 15;
    top: 40%;
    display: flex;
    justify-content: flex-end;
}

.item h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.item .social div {
    width: 50px;
    height: 50px;
    background: green;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.item .social div:hover {
    transform: scale(1.1);
}

.item .social a:last-child {
    margin-right: 20px;
}

.item a .tw {
    background-color: #0084b4;
}

.item a .fb {
    background-color: #3b5998;
}

.item a .ig {
    background-color: #cd486b;
}

.item .like {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #a37f7f;
    border-radius: 50%;
    color: #fff;
    right: 30px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.item .like:hover {
    transform: scale(1.1);
}

.item .like i {
    font-size: 15px;
}

.item .like.clicked {
    background: #ffcece;
}

.item .like.clicked i {
    color: #e60026;
}

.item .readmore {
    display: flex;
    padding-bottom: 5px;
}

.item .readmore h3 {
    display: block;
    padding: 10px 15px;
    border-radius: 40px;
    border: 1px solid;
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 5px;
}